<app-navbar></app-navbar>
<div class="container">
<div class="row">
    <h2 class="head3">-Products-</h2>
</div>
<div class="row">
<div class="col-md-4" *ngFor="let product of productlist">
<div class="card-group" >
    <div class="card">
      <img src="{{product.image}}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">bangdiy<br>$46.80</h5>
        <a [routerLink]="'/cart'"><button type="button" class="btn btn-success">Add cart</button></a>
      </div>
    <!-- </div>
    <div class="card">
      <img src="/assets/home image/img7.webp" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">slits<br>$65.23</h5>
        <a [routerLink]="'cart'"><button type="button" class="btn btn-success">Add cart</button></a>
      </div>
    </div>
    <div class="card ">
      <img src="/assets/home image/img8.webp" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Carter<br>$44.59</h5>
        <a [routerLink]="'cart'"><button type="button" class="btn btn-success">Add cart</button></a>
      </div>
    </div> -->
  </div>
</div>
</div>
</div>
<app-footer></app-footer>