.head{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 60px;
}
.form-div{
    height: 500px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
   

}
.form-group{
    padding-top: 60px;
    padding-bottom: 60px;
}
.reg{
    text-decoration: none;
    color: white;
}
.cutomer{
    text-decoration: none;
}