
<footer class="bg-dark text-center text-white">
    <div class="container">
      <div class="about text-white p-4">
      <h4>AboutUs</h4>
      <p>DS Handbag has been supplying customers for many years including boutiques, retail shops, and many purse party customers. Here you will find a variety of ladies handbags that are designed and manufactured exclusively for our customers and cannot be found anywhere else. We are one of the best faux leather handbag distributors in New York.  dshandbag.com carries only the latest hot selling fashion accessories, ranging from fashionable handbags to wholesale purses, wallets, and other products.</p>
      </div>
    </div>  
    <div class="container">
      <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
          <div class="form">
            <input type="text" class="form-control form-input" placeholder="Search anything...">
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-dark text-center text-white">
      <div class="container p-3 pb-0">
        <section class="mb-4 ">
          <a><i class="bi bi-facebook p-1"></i></a>
          <a><i class="bi bi-whatsapp p-1"></i></a>
          <a><i class="bi bi-instagram p-1"></i></a>
          <a><i class="bi bi-pinterest p-1"></i></a>
        </section>
      </div>
      <div class="text-center p-3 bg-dark">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">DShandbags.com</a>
      </div>
  </footer>
