<form>
    <div class="form-group">
      <label for="addcategory">Add category</label>
      <input type="add-catogary" class="form-control" id="" ngModel>
    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <input type="text" class="form-control" id="" ngModel>
    </div>
    <div class="form-group">
        <label for="catimg">Category image</label>
        <input type="file" class="form-control" id="" >
      </div>
    <button type="submit" class="btn btn-success" >Add category</button>
  </form>

