<body>
<div class="container">
    <div class="row">
        <div><h2 class="head">-DS Handbags-</h2></div>
      <div>
        <img  class="img1" src="/assets/home image/img2.webp" alt="">
        </div>
        <div>
       <img class="img2" src="/assets/home image/img1.webp" alt="">
       <h4 class="head1">shows yours</h4>
       <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi delectus maiores molestiae similique consequatur eum cum quo, sapiente harum rem maxime facilis, quos, in officiis modi eveniet? Quidem, aperiam assumenda.
        Fugit soluta vel adipisci fuga id consequatur?</p>
        </div>
        <div class="category">
            <h2 class="cat">-Catogaries-</h2>
            <div class="card-group">
                <div class="card">
                  <a class="link" [routerLink]="'/products'"><img src="/assets/home image/img3.webp" class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">Hobo Bags</h5>
                  </div></a>
                </div>
                <div class="card">
                    <a class="link" [routerLink]="'/products'"><img src="/assets/home image/img4.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cross body bags</h5>
                  </div></a>
                </div>
                <div class="card">
                    <a class="link" [routerLink]="'/products'"><img src="/assets/home image/img5.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">New Arrival</h5>
           
                  </div></a>
                </div>
              </div>

        </div>
      </div>
    </div>
</body>