
<div class="form-div">
<form>
      <div class="mb-3">
        <label for="seller" class="form-label">Product Name</label>
        <input type="seller" class="form-control" id="" >
      </div>
      <div class="mb-3">
        <label for="seller" class="form-label">Product no.</label>
        <input type="seller" class="form-control" id="" >
      </div>
      <div class="mb-3">
        <label for="seller" class="form-label">Product Description</label>
        <input type="seller" class="form-control" id="" >
      </div>
      <div class="mb-3">
        <label for="seller" class="form-label">Product image</label>
        <input type="file" class="form-control" id="" >
      </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>  
    
