<app-navbar></app-navbar>
<div class="form-div">
<h3 class="head">-Admin Login-</h3>
<form  class="form-group" >
    <div class="mb-3" >
      <label for="adminid" class="form-label"></label>
      <input type="text" class="form-control" placeholder="Admin id:" id="adminid" >
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"></label>
      <input type="password" class="form-control" placeholder="Password" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button><br><br>
    <a class="admin">Forgot password?</a>
  </form>
</div>
  
  <app-footer></app-footer>
